/* Colors: 
 * #F39C12 Main
 * #2C3E50 Background
 * #99D9EA Highlight
 * */

/*Prevent problems with different browsers*/
* {
    box-sizing: border-box;
}

/*Body*/
body {
    font-family: Ubuntu, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
}
/*Header*/
header {
    color: #fff;
    background-color: #f39c12;
    padding: 1rem;
    display: flex;
}

header div {
    padding-left: 1rem;
}

header .logo {
    vertical-align: middle;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #2c3e50;
}

header p {
    font-style: italic;
    margin: 0;
    color: #2c3e50;
    font-size: 1.25rem;
}
/*Nav*/

@media only screen and (max-width: 800px) {
    nav ul {
        margin: 0;
        padding: 0 0.5rem;
        list-style-type: none;
    }
    
    nav a {
        display: block;
        padding: 0.8rem;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        border-bottom:solid 1px #aaa;
        color: #F39C12;
        
    }
    
    nav .active_page a {
        background-color: #2C3E50;
        background-image:linear-gradient(#2C3E50, #202A33);
        color: white
    }

}

@media only screen and (min-width: 801px) {
    nav {
    overflow: auto;
}

nav {
    overflow: auto;
}

nav ul {
    background-color: #2c3e50;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
    padding: 1rem;
    height: 100%;
}

nav li.active_page a {
    background-color: #f39c12;
    color: #2c3e50;
}

nav a:hover {
    text-decoration: underline;
}
    
}
/*Main*/
main {
    padding: 20px;
}

main h1 {
    margin: 0;
}

main p {
    text-align: left;
    margin: 0.5rem 0;
}

/*Main Img */
.float_right {
    float: right;
    padding-left: 1rem;
}

/*Gallery*/
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px; /* Optional: Adds margin around the gallery */
}

.gallery img {
    width: 100%; /* Makes images responsive */
    border-radius: 10px; /* Optional: Adds rounded corners */
}

.gallery figcaption {
    text-align: center;
    font-size: 0.8rem;
    color: #2c3e50;
}

.gallery img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*Packages*/
.package {
    border: 5px solid #99d9ea;
    border-radius: 1rem;
    margin: 1rem;
    overflow: hidden;
    margin-bottom: 40px;
}

.package h2{
    margin:  0.5rem 1rem;
    font-size: 2rem;
}

.package-content ul {
    list-style: none;
    font-size: 12px;
    margin: 0;
    padding-bottom: 10px;
}

.package-content h3 {
    font-size: 1rem;
    margin: 0 20px;
}

.package-content p {
    margin: 0;
    font-size: 12px;
    padding: 5px 20px;
}

.package-content a {
    color: #f39c12;
    text-decoration: none;
}

.package-photo {
    float: left; /* Floats the image to the left */
    margin: 0 20px 20px 20px;
    max-width: 400px; /* Limits the width of the image */
    border-radius: 10px; /* Optional: Adds rounded corners to the image */
}

/*Contact Form*/
.contact_form fieldset {
    border: 3px solid #99d9ea;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.contact_form legend {
    font-size: 1.2rem;
}

.contact_form textarea {
    margin: 0 0.5rem;
}

.contact_form select,
.contact_form [type="text"],
.contact_form [type="tel"],
.contact_form [type="email"],
.contact_form textarea {
    border: solid 1px #888;
    display: block;
    padding: 0.3rem;
    font-weight: 200;
    width: 300px;
    border-radius: 1rem;
    margin: 0 1rem 0.5rem 0;
}

.contact_form textarea {
    height: 5rem;
}

.contact_form :required {
    background-color: rgba(156, 51, 53, 0.1);
}

.contact_form [type="submit"] {
    background-color: #f39c12;
    border: none;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    margin: 1rem 0;
}

/*Footer*/
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 1vw;
    width: 100%;
}

footer a {
    color: #f39c12;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

header,
nav,
main,
footer {
    max-width: 64rem;
    margin: 0 auto;
}
